:root {
  --background: #121214;

  --gray-200: #C4C4CC;
  --gray-500: #7C7C8A;
  --gray-950: #1A1A1E;

  --blue-500: #0072BC;
  --red-500: #FE6E78;

  --neutral-white:  #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--gray-500);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-950);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-950);
}
